.page-recipes .u-section-1 .u-sheet-1 {
  min-height: 64px;
}
.page-recipes 
.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 62px 6px;
}

@media (max-width: 1199px) {
 .page-recipes  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.page-recipes .u-section-2 .u-sheet-1 {
  min-height: 1021px;
}

.page-recipes .u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 10px 0 31px;
}

.page-recipes .u-section-2 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 980px;
  grid-gap: 0px 0px;
}

.page-recipes .u-section-2 .u-container-layout-1 {
  padding: 20px 0;
}

.page-recipes .u-section-2 .u-image-1 {
  height: 346px;
  margin: 0 30px;
}

.page-recipes .u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 14px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-btn-2 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  margin: 11px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-container-layout-2 {
  padding: 20px 0;
}

.page-recipes .u-section-2 .u-image-2 {
  height: 346px;
  margin: 0 30px;
}

.page-recipes .u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 14px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-btn-4 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  margin: 11px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-container-layout-3 {
  padding: 20px 0;
}

.page-recipes .u-section-2 .u-image-3 {
  height: 346px;
  margin: 0 30px;
}

.page-recipes .u-section-2 .u-btn-5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 14px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-btn-6 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  margin: 11px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-container-layout-4 {
  padding: 20px 0;
}

.page-recipes .u-section-2 .u-image-4 {
  height: 346px;
  margin: 0 30px;
}

.page-recipes .u-section-2 .u-btn-7 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 14px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-btn-8 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  margin: 11px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-container-layout-5 {
  padding: 20px 0;
}

.page-recipes .u-section-2 .u-image-5 {
  height: 346px;
  margin: 0 30px;
}

.page-recipes .u-section-2 .u-btn-9 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 14px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-btn-10 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  margin: 11px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-container-layout-6 {
  padding: 20px 0;
}

.page-recipes .u-section-2 .u-image-6 {
  height: 346px;
  margin: 0 30px;
}

.page-recipes .u-section-2 .u-btn-11 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 14px auto 0;
  padding: 0;
}

.page-recipes .u-section-2 .u-btn-12 {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: none;
  margin: 11px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .page-recipes .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 808px;
  }

  .page-recipes .u-section-2 .u-image-1 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-btn-1 {
    margin-top: 50px;
  }

  .page-recipes .u-section-2 .u-btn-2 {
    margin-top: -26px;
  }

  .page-recipes .u-section-2 .u-image-2 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-3 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-4 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-5 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-6 {
    height: 285px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .page-recipes .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1393px;
  }

  .page-recipes .u-section-2 .u-image-1 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-2 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-3 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-4 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-5 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-6 {
    height: 327px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .page-recipes .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .page-recipes .u-section-2 .u-image-1 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-btn-1 {
    margin-top: 14px;
  }

  .page-recipes .u-section-2 .u-btn-2 {
    margin-top: 11px;
  }

  .page-recipes .u-section-2 .u-image-2 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-3 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-4 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-5 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-6 {
    height: 491px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .page-recipes .u-section-2 .u-list-1 {
    margin-top: 89px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-1 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-btn-1 {
    margin-top: 7px;
  }

  .page-recipes .u-section-2 .u-btn-2 {
    margin-top: 18px;
  }

  .page-recipes .u-section-2 .u-image-2 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-3 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-4 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-5 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }

  .page-recipes .u-section-2 .u-image-6 {
    height: 309px;
    margin-right: initial;
    margin-left: initial;
  }
}