.hero-area .owl-carousel .owl-nav button.owl-prev, .hero-area .owl-carousel .owl-nav button.owl-next, .hero-area .owl-carousel button.owl-dot {
    background-color: transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    top: 50%;
    margin-top: -20px;
    left: 4%;
    position: absolute;
    z-index: 10;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-bottom: 3px solid #1c8314;
}

.hero-area .owl-carousel .owl-nav button.owl-prev:focus, 
.hero-area .owl-carousel .owl-nav button.owl-next:focus{
    outline: none;
}

.hero-area .owl-carousel .owl-nav button.owl-next {
    left: auto;
    right: 4%;
}

.hero-area .owl-carousel:hover .owl-nav button.owl-prev, 
.hero-area .owl-carousel:hover .owl-nav button.owl-next {
    opacity: 1;
    visibility: visible;
}

.single-best-receipe-area img {
   
        max-height: 300px;
        max-width: 280px;

}

