.contact-area {
    padding: 40px 0;
}

.contact-area .custom-button{
    line-height: 40px;
    height: 40px;
}

.contact-area .info p {
    margin-bottom: 0;
}

.contact-area .info .wrapper {
    border: 1px solid #dddee9;
    padding: 20px;
}

.contact-area .info .wrapper .custom-button{
    margin-top: 10px;
}

.contact-area .favourites .wrapper{
    background: #f3f5f8;
    padding: 20px;
}

.contact-area .favourites .logout-button{
    line-height: 40px;
    height: 40px;
    background: #d40707;
    border-left: 3px solid #850202;
}

@media only screen and (max-width: 767px) {
    .contact-area .info {
        margin-bottom: 20px;
    }
}

.admin {
    font-weight: 500;
    font-size: 24px;
}