.page-profile .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }
  
  .page-profile .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 2.25rem;
    margin: 20px auto 0;
  }
  
  .page-profile .u-section-1 .u-group-1 {
    width: 371px;
    min-height: 282px;
    height: auto;
    margin: 32px auto 0 199px;
  }
  
  .page-profile .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }
  
  .page-profile .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin: 22px auto 0 20px;
  }
  
  .page-profile .u-section-1 .u-text-3 {
    font-size: 1.25rem;
    margin: 28px auto 0 20px;
  }
  
  .page-profile .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    margin: 28px auto 0 20px;
  }
  
  .page-profile .u-section-1 .u-btn-1 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    background-image: none;
    border-style: solid;
    margin: 32px auto 0;
  }
  
  .page-profile .u-section-1 .u-icon-1 {
    width: 46px;
    height: 46px;
    transition-duration: 0.5s;
    box-shadow: 2px 0px 0px 0px rgba(0,0,0,0);
    text-shadow: 0px 0px 0px rgba(0,0,0,0);
    margin: -221px 452px 0 auto;
    padding: 2px;
  }
  
  .page-profile .u-section-1 .u-text-5 {
    font-size: 1.125rem;
    font-weight: 700;
    margin: -37px 360px 0 688px;
  }
  
  .page-profile .u-section-1 .u-btn-2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: solid;
    background-image: none;
    margin: 28px 372px 60px auto;
  }
  
  @media (max-width: 1199px) {
    .page-profile .u-section-1 .u-sheet-1 {
      min-height: 563px;
    }
  
    .page-profile .u-section-1 .u-group-1 {
      margin-top: 37px;
      margin-left: 99px;
      height: auto;
    }
  
    .page-profile .u-section-1 .u-icon-1 {
      margin-top: -200px;
      margin-right: 364px;
    }
  
    .page-profile .u-section-1 .u-text-5 {
      width: auto;
      margin-right: 272px;
      margin-left: 576px;
    }
  
    .page-profile .u-section-1 .u-btn-2 {
      margin-top: 20px;
      margin-right: 283px;
    }
  }
  
  @media (max-width: 991px) {
    .page-profile .u-section-1 .u-group-1 {
      margin-top: 25px;
      margin-left: auto;
    }
  
    .page-profile .u-section-1 .u-icon-1 {
      margin-top: 20px;
      margin-right: auto;
      margin-left: 291px;
    }
  
    .page-profile .u-section-1 .u-text-5 {
      margin-right: 291px;
      margin-left: 337px;
    }
  
    .page-profile .u-section-1 .u-btn-2 {
      margin-top: 25px;
      margin-right: auto;
    }
  }
  
  @media (max-width: 767px) {
    .page-profile .u-section-1 .u-icon-1 {
      margin-top: 9px;
      margin-left: 201px;
    }
  
    .page-profile .u-section-1 .u-text-5 {
      margin-right: 201px;
      margin-left: 247px;
    }
  
    .page-profile .u-section-1 .u-btn-2 {
      margin-top: 26px;
    }
  }
  
  @media (max-width: 575px) {
    .page-profile .u-section-1 .u-text-1 {
      font-size: 1.875rem;
    }
  
    .page-profile .u-section-1 .u-group-1 {
      width: 340px;
    }
  
    .page-profile .u-section-1 .u-icon-1 {
      margin-top: 12px;
      margin-left: 101px;
    }
  
    .page-profile .u-section-1 .u-text-5 {
      margin-top: -29px;
      margin-right: 101px;
      margin-left: 147px;
    }
  }
  
  .page-profile .u-section-1 .u-icon-1,
  .page-profile .u-section-1 .u-icon-1:before,
  .page-profile .u-section-1 .u-icon-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
  }
  
  .page-profile .u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
    box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
    stroke-width: 0px !important;
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #e68387 !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  }
  
  .page-profile .u-section-1 .u-icon-1 {
    stroke-width: 0 !important;
    stroke: transparent !important;
    border-color: transparent !important;
  }
  
  .page-profile .u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover .u-svg-link {
    fill: #e68387 !important;
    fill: #e68387 !important;
  }
  
  .page-profile .u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
    box-shadow: 0px 0px 0px  rgba(128,128,128,0) !important;
    stroke-width: 0px !important;
    transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
    color: #e68387 !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
  }
  
  .page-profile .u-section-1 .u-icon-1 {
    stroke-width: 0 !important;
    stroke: transparent !important;
    border-color: transparent !important;
  }
  
  .page-profile .u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover .u-svg-link {
    fill: #e68387 !important;
    fill: #e68387 !important;
  }
  
  .page-profile .u-section-1 .u-container-layout:hover .u-icon-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  }
  
  .page-profile .u-container-layout.hover .page-profile .u-section-1 .u-icon-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  }