.receipe-post-area .single-best-receipe-area img {
    max-height: 300px;
    max-width: 280px;
}

.receipe-content {
    width: 209px;
}

.end p{
    color: #40ba37;
    font-size: 18px;
    line-height: 4;
    font-weight: 600;
    margin: 0;
}