.main {
    margin-bottom: 50px;
}

.not-found {
    background-color: #40ba37;
    border-radius: 30px;
  
    max-width: 1300px;
    height: 500px;
    margin: auto;

}

.not-found h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
   
}

.not-found p {
    color: rgba(255, 255, 255, 0.666);
    text-align: center;
    font-size: 30px;
}

.not-found a {
    color:rgb(46, 118, 8);
    
    font-size: 30px;
}



