.page-contact .u-section-1 .u-sheet-1 {
  min-height: 518px;
}

.page-contact .u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.page-contact .u-section-1 .u-form-1 {
  height: 329px;
  width: 570px;
  margin: 8px auto 0;
}

.page-contact .u-section-1 .u-btn-1 {
  letter-spacing: 0px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.page-contact .u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 45px;
  min-height: 16px;
  width: 154px;
  min-width: 68px;
  margin: 20px auto 57px;
}

@media (max-width: 767px) {
  .page-contact .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .page-contact .u-section-1 .u-form-1 {
    width: 340px;
  }
}