
.container-about .section-heading {
   margin-bottom: 5px;
}

.container-about .section-heading h3 {
    padding-bottom: 25px;
  margin-top: 10px;
}

.container-about .section-heading h4 {
    padding-bottom: 5px;
}

/* .container-about .col-12 {

    margin-bottom: 20px;
    max-width: 800px;

} */



.about-area {
    padding-top: 20px;
}

