.section-heading {
text-align: center;
margin-bottom: 30px;
}

.contact-form-area .form-control {
    height: 52px;
    width: 100%;
    background-color: #f3f5f8;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 15px;
    border: none;
    border-left: 3px solid #f3f5f8;
    border-radius: 0;
    padding: 15px 30px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.contact-form-area .form-control:focus {
    border-left: 3px solid #40ba37;
    box-shadow: none;
}

.contact-form-area textarea.form-control {
    height: 150px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.col-12 span {
    color: red;
    margin: 10px;
    display: block;
}

.col-12 {
    max-width: 300px;
    margin: auto;

}


.bottom-line-register p {
    display: inline-block;
    margin-right: 5px;
}

div .bottom-line-register {

    margin: auto;
    text-align: center;
    padding-top: 15px;

}