.page-register .u-section-1 .u-sheet-1 {
  min-height: 834px;
}

.page-register .u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 40px auto 0;
}

.page-register .u-section-1 .u-form-1 {
  height: 584px;
  background-image: none;
  width: 527px;
  margin: 1px auto 0;
}

.page-register .u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.page-register .u-section-1 .u-label-1 {
  font-weight: 700;
}

.page-register .u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.page-register .u-section-1 .u-label-2 {
  font-weight: 700;
}

.page-register .u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.page-register .u-section-1 .u-label-3 {
  font-weight: 700;
}

.page-register .u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.page-register .u-section-1 .u-label-4 {
  font-weight: 700;
}

.page-register .u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.page-register .u-section-1 .u-label-5 {
  font-weight: 700;
}

.page-register .u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.page-register .u-section-1 .u-label-6 {
  font-weight: 700;
}

.page-register .u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
}

.page-register .u-section-1 .u-text-2 {
  margin: -26px auto 0 461px;
}

.page-register .u-section-1 .u-btn-2 {
  font-weight: 700;
  margin: -26px 481px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .page-register .u-section-1 .u-form-1 {
    --checkbox-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }

  .page-register .u-section-1 .u-text-2 {
    margin-left: 391px;
  }

  .page-register .u-section-1 .u-btn-2 {
    border-style: solid;
    margin-right: 281px;
  }
}

@media (max-width: 991px) {
  .page-register .u-section-1 .u-text-2 {
    margin-left: 299px;
  }

  .page-register .u-section-1 .u-btn-2 {
    margin-right: 61px;
  }
}

@media (max-width: 767px) {
  .page-register .u-section-1 .u-text-2 {
    margin-left: 224px;
  }

  .page-register .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .page-register .u-section-1 .u-form-1 {
    width: 340px;
  }

  .page-register .u-section-1 .u-text-2 {
    margin-left: 141px;
  }
}