.register span {
    color: red;
    margin: 10px;
    display: block;
}

.register .row {
    justify-content: center;
    
}

 .register p {
    display: inline-block;
     margin-right: 5px;
 }

div .bottom-line-register {

    margin: auto;
    text-align: center;
    padding-top: 15px;
  
  
   }
  